.unsuccess-saved {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 328px;
    height: 118px;
    border: 1px solid #FFCCC7;
    background-color: #FFF1F0;
    color: #1d1d1dd9;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.unsuccess-saved-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.unsuccess-saved-text {
    width: 257px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 48px;
}

